.foot1
    .row-fluid
        .col-m-a
            .col-mhead
                i.fa.fa-info-circle
                |  Информация
            span Для связи с администрацией сайта используйте email:
            = ' '
            b#cinemapress
            script!= "document.getElementById('cinemapress').textContent = '" + email.replace('@','.CinemaPress.') + "'.replace('.CinemaPress.','@');"
        .col-m-a.col-m-a2
            .col-mhead
                i.fa.fa-map-marker
                |  Навигатор
            ul
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}') Сериалы онлайн
                li
                    a(href='#{protocol}#{domain}/#{urls.year}/2016?sort=premiere-up') Фильмы новинки
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.movie}?sort=kinopoisk-rating-up') Лучшие фильмы
        .col-m-a.col-m-a2
            .col-mhead
                i.fa.fa-paperclip
                |  Разделы
            ul
                li
                    a(href='#{protocol}#{domain}/#{urls.year}/2016') Фильмы 2016 года
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.movie}?sort=year-up') Новое на сайте
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}?sort=year-up') Премьеры сериалов
        .col-m-a.col-m-a2
            .col-mhead
                i.fa.fa-magic
                |  Рейтинговые
            ul
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.movie}?sort=kinopoisk-rating-up') Фильмы
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}?sort=kinopoisk-rating-up') Сериалы
                li
                    a(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.mult}?sort=kinopoisk-rating-up') Мультфильмы
    .clearfix
    .foo-f
        .pull-left.f-copy
            div(style='margin: -12px 0;')
                a(href='https://CinemaPress.org/') Самообновляемые кино-сайты
            .f-copy-comodo © 2016
                = ' '
                a(href='https://CinemaPress.org/') CinemaPress
        .pull-left.f-links
            a.f-lin-1(href='#{protocol}#{domain}') Лучшие фильмы онлайн бесплатно
            a.f-lin-2(href='#{protocol}#{domain}/#{urls.type}/#{urls.types.serial}') Смотреть сериалы онлайн в хорошем качестве
        .pull-left.f-m16 18+
        if social.vk
            .pull-left.f-lin-pravo
                a(href=social.vk, rel='nofollow', target='_blank')
                    i.fa.fa-vk
                    |  Мы в Вконтакте
        if social.twitter
            .pull-left.f-lin-pravo
                a(href=social.twitter, rel='nofollow', target='_blank')
                    i.fa.fa-twitter
                    |  Мы в Twitter
        if social.facebook
            .pull-left.f-lin-pravo
                a(href=social.facebook, rel='nofollow', target='_blank')
                    i.fa.fa-facebook
                    |  Мы в facebook
.clearfix
script.
    function show_yohoho(){var t=document.querySelector("#show-yohoho"),o=document.querySelector("#show-yohoho-online"),e=document.querySelector("#show-yohoho-torrent");t&&t.addEventListener("click",yohoho),o&&o.addEventListener("click",yohoho),e&&e.addEventListener("click",yohoho)}function yohoho(){var t=document.querySelector("#yohoho"),o=document.querySelector("#yohoho-online"),e=document.querySelector("#yohoho-torrent"),l=document.querySelector("#show-yohoho"),i=document.querySelector("#show-yohoho-online"),s=document.querySelector("#show-yohoho-torrent");this.id&&(l&&(l.className=l.className.replace(/(?:^|\s)active(?!\S)/g,"")),i&&(i.className=i.className.replace(/(?:^|\s)active(?!\S)/g,"")),s&&(s.className=s.className.replace(/(?:^|\s)active(?!\S)/g,"")),this.className+=" active",t&&(t.style.display=t.dataset.display="none"),o&&(o.style.display=o.dataset.display="none"),e&&(e.style.display=e.dataset.display="none"),"show-yohoho"==this.id&&t?t.style.display=t.dataset.display="block":"show-yohoho-online"==this.id&&o?o.style.display=o.dataset.display="block":"show-yohoho-torrent"==this.id&&e&&(e.style.display=e.dataset.display="block"));var a=[];if(t&&a.push(t||0),o&&a.push(o||0),e&&a.push(e||0),a.length){if("https:"==window.top.location.protocol)return window.top.location.href="http:"+window.top.location.href.substring(window.top.location.protocol.length),console.log("Error: redirect to http protocol - http:"+window.top.location.href.substring(window.top.location.protocol.length)),!1;for(var n=0,r=a.length;r>n;n++)if(a[n]){var d=a[n].dataset,h=[],y="",c=a[n].id.split("-"),p="online";if(c.length>1&&(p=c[1]),"none"!=a[n].style.display&&"none"!=d.display){d.type=d.type||p,d.title=d.title||"",d.title="title"==d.title?document.title:d.title,d.display=d.display||"block",h.border=a[n].style.border||0,h.margin=a[n].style.margin||0,h.padding=a[n].style.padding||0,h.width=a[n].style.width||"100%",h.height=a[n].style.height||"370px",h["overflow-x"]=a[n].style["overflow-x"]||"hidden",h.background=a[n].style.background||"none",h.display=a[n].style.display||"block";for(var u in h)h.hasOwnProperty(u)&&(y+=u+":"+h[u]+";");var w=document.createElement("iframe");w.setAttribute("src","http://yohoho.xyz/"+d.type+"?title="+encodeURIComponent(d.title)),w.setAttribute("style",y),w.setAttribute("id",a[n].id),w.setAttribute("data-display",d.display),w.setAttribute("data-type",d.type),w.setAttribute("data-title",d.title),a[n].parentNode.replaceChild(w,a[n])}}}return!1}/bot|googlebot|crawler|spider|robot|crawling/i.test(navigator.userAgent)||(document.addEventListener("DOMContentLoaded",yohoho),document.addEventListener("DOMContentLoaded",show_yohoho));function loadCSS(e){var t=new XMLHttpRequest;t.onreadystatechange=function(){if(4==t.readyState&&200==t.status){var e=document.head||document.getElementsByTagName("head")[0],n=document.createElement("style");n.type="text/css",n.styleSheet?n.styleSheet.cssText=t.responseText:n.appendChild(document.createTextNode(t.responseText)),e.appendChild(n)}},t.open("GET",e,!0),t.send()}; loadCSS('/themes/ted/public/css/style.css');
script(src='/themes/ted/public/js/ted.js' async)
if code.footer
    != code.footer