title!= title
meta(charset='utf-8')
meta(name='description', content!=description.substr(0, 170))
meta(name='keywords', content!=keywords)
link(rel='shortcut icon', href='/themes/ted/public/favicon.ico')
link(rel='search', type='application/opensearchdescription+xml', href='/themes/ted/public/js/opensearch.xml', title='Фильмы онлайн')
if movie
    meta(property='og:title', content!=title)
    meta(property='og:description', content!=description.substr(0, 170))
    meta(property='og:type', content='video.movie')
    meta(property='og:url', content=movie.url)
    meta(property='og:image', content=movie.picture)
    meta(property='og:video', content='http://yohoho.xyz/online?title=' + encodeURIComponent(movie.title_ru))
    meta(property='og:video:duration', content='7384')
    meta(property='og:video:type', content='flash')
    meta(property='ya:ovs:upload_date', content=movie.premiere.replace(/([0-9]{4})/, 2015))
    meta(property='ya:ovs:adult', content='false')
else
    meta(property='og:title', content!=title)
    meta(property='og:description', content!=description.substr(0, 170))
    meta(property='og:type', content='website')
    meta(property='og:url', content='#')
    meta(property='og:image', content='#{protocol}#{domain}/themes/ted/public/img/logo.png')
if code.head
    != code.head
script(type='application/ld+json')!= JSON.stringify(schema)
style
    include ../public/css/style.css